<div class="carousel__slide">
    <div class="carousel__punch"></div>

    <h1>{{ item.title | striptags|trim|raw }}</h1>
    <h2>{{ item.location }} - {{ item.date }}</h2>
    {{ item.description | striptags|trim|raw }}

    {% if item.photo %}
        <div class="carousel__photo" style="background-image: url('{{ item.photo }}');"></div>
    {% endif %}
</div>
